WClient/web/WEB-INF/wsdl/localhost_8080/WServer/AmazonWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WServer/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WServer/" name="AmazonWS">
<types>
<xsd:schema>
<xsd:import namespace="http://WServer/" schemaLocation="http://localhost:8080/WServer/AmazonWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getShoesInfo">
<part name="parameters" element="tns:getShoesInfo"/>
</message>
<message name="getShoesInfoResponse">
<part name="parameters" element="tns:getShoesInfoResponse"/>
</message>
<message name="getIdInfo">
<part name="parameters" element="tns:getIdInfo"/>
</message>
<message name="getIdInfoResponse">
<part name="parameters" element="tns:getIdInfoResponse"/>
</message>
<message name="getBrandInfo">
<part name="parameters" element="tns:getBrandInfo"/>
</message>
<message name="getBrandInfoResponse">
<part name="parameters" element="tns:getBrandInfoResponse"/>
</message>
<message name="getStockInfo">
<part name="parameters" element="tns:getStockInfo"/>
</message>
<message name="getStockInfoResponse">
<part name="parameters" element="tns:getStockInfoResponse"/>
</message>
<portType name="AmazonWS">
<operation name="getShoesInfo">
<input wsam:Action="http://WServer/AmazonWS/getShoesInfoRequest" message="tns:getShoesInfo"/>
<output wsam:Action="http://WServer/AmazonWS/getShoesInfoResponse" message="tns:getShoesInfoResponse"/>
</operation>
<operation name="getIdInfo">
<input wsam:Action="http://WServer/AmazonWS/getIdInfoRequest" message="tns:getIdInfo"/>
<output wsam:Action="http://WServer/AmazonWS/getIdInfoResponse" message="tns:getIdInfoResponse"/>
</operation>
<operation name="getBrandInfo">
<input wsam:Action="http://WServer/AmazonWS/getBrandInfoRequest" message="tns:getBrandInfo"/>
<output wsam:Action="http://WServer/AmazonWS/getBrandInfoResponse" message="tns:getBrandInfoResponse"/>
</operation>
<operation name="getStockInfo">
<input wsam:Action="http://WServer/AmazonWS/getStockInfoRequest" message="tns:getStockInfo"/>
<output wsam:Action="http://WServer/AmazonWS/getStockInfoResponse" message="tns:getStockInfoResponse"/>
</operation>
</portType>
<binding name="AmazonWSPortBinding" type="tns:AmazonWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getShoesInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getIdInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBrandInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStockInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AmazonWS">
<port name="AmazonWSPort" binding="tns:AmazonWSPortBinding">
<soap:address location="http://localhost:8080/WServer/AmazonWS"/>
</port>
</service>
</definitions>